/* CSS */
body {
    background-color: #f0f8ff; /* Color azul claro para el fondo */
}

.dentist-card {
    background-color: #f8f9fa; /* Color de fondo similar al de Bootstrap de Apple */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    cursor: pointer;
    overflow: hidden;
    margin-top: 20px;
    transition: transform 0.3s ease; /* Transición suave al crecer */
}

    .dentist-card:hover {
        transform: scale(1.05); /* Crece un poco al pasar el cursor */
    }

.card-header {
    text-align: center;
    padding: 20px 0;
    position: relative; /* Para posicionar la imagen */
}

.title-container {
    position: relative;
    z-index: 1;
}

.image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%; /* Controla el tamaño de la imagen */
}

.card-header img {
    width: 100%; /* Asegura que la imagen se ajuste al contenedor */
    border-radius: 50%;
    transition: transform 0.3s ease; /* Transición suave al crecer */
}

    .card-header img:hover {
        transform: scale(1.1); /* Crece un poco al pasar el cursor */
    }

.card-body {
    padding: 20px;
}

.contact-info p {
    color: #007bff; /* Color azul para los datos de contacto */
    margin: 0;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    .contact-info p:hover {
        background-color: #d4edda; /* Color de resaltado verde claro al pasar el cursor */
        color: #155724; /* Color de texto oscuro cuando se pasa el cursor */
    }
