/* CSS */
body {
    background-color: #f0f8ff; /* Color azul claro para el fondo */
}

.dentist-card {
    background-color: #f8f9fa; /* Color de fondo similar al de Bootstrap de Apple */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    cursor: pointer;
    overflow: hidden;
    margin-top: 20px;
}

.card-header {
    text-align: center;
    padding: 20px 0;
    position: relative; /* Para posicionar la imagen */
}

    .card-header img {
        max-width: 100%;
        border-radius: 50%;
        position: absolute; /* Posición absoluta para colocarla debajo del nombre */
        left: 50%;
        transform: translateX(-50%);
        bottom: -50px; /* Distancia desde la parte inferior del encabezado */
    }

.card-body {
    padding: 20px;
}

.contact-info p {
    color: #007bff; /* Color azul para los datos de contacto */
    margin: 0;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    .contact-info p:hover {
        background-color: #d4edda; /* Color de resaltado verde claro al pasar el cursor */
        color: #155724; /* Color de texto oscuro cuando se pasa el cursor */
    }
